// Just the Class dependencies
@import 'variables';
@import 'mixins';
@import 'card';

// Just the Class styles
@import 'announcement';
@import 'module';
@import 'schedule';
@import 'staffer';

@import 'navigation';

.pronouns {
    font-weight: bold !important;
    display: inline-block;
    padding-top: 0.16em;
    padding-bottom: 0.16em;
    padding-left: 0.56em;
    padding-right: 0.56em;
  
    font-size: 0.8em;
  
    text-transform: uppercase;
    vertical-align: middle;
    border-radius: 12px;
  
    background-color: #ecebed;
  }

.team {
    font-weight: bold !important;
    display: inline-block;
    padding-top: 0.16em;
    padding-bottom: 0.16em;
    padding-left: 0.56em;
    padding-right: 0.56em;
  
    font-size: 0.8em;
  
    text-transform: uppercase;
    vertical-align: middle;
    border-radius: 6px;
  
  }

  .label-Head {
    background-color: #3D348B;
    color: white;
  }